.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: LightBlue;
	display: table-header-group;
        line-height:6em;
}
.divTableCell, .divTableHead {
	border: none;
	display: table-cell;
	padding: 4px 15px;
}
.divTableHeading {
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.ppozo_layout {
  display: inline-block;
}


.form-controls {
  display: inline-block;
  line-height: 5em;
  vertical-align: bottom;
}
.buttonlist
{
  display: inline-block;
  vertical-align:bottom;

}

/* make radiobutton look like a label */
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid;
  background-color: #11113F;
}


label.control-label{
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.talent_area{
  padding: 3px;
  margin-left:auto;
  margin-right:auto;
  width:80%;
  float:center;
  display: inline-block;
}

.field_talent{
  width:80%;

}
.others_area{
  padding: 3px;
  width: 70%;
  float: left;
  display: inline-block;
}

.others_area > div.form-group{
  display: inline-block;
  width:24%;
  vertical-align: top;
}
.talent_area > div.form-group > label.control-label
{
    display: none !important;
    visibility: hidden !important;
}


.noborder {
    border: none;

}
.selected_ta {
    background-color: lightblue;
}
